<ion-header>
  <ion-toolbar>
    <ion-title>Inscrever Participante</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="evento-pesquisa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form #partiForm="ngForm" autocomplete="off" (ngSubmit)="gravarInscricao(partiForm)">

    <ion-item>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="participante.nome" #nome="ngModel" name="nome" disabled>
        </ion-input>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text" [(ngModel)]="participante.cpf" #cpf="ngModel" name="cpf" disabled
          [brmasker]="{person: true}">
        </ion-input>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label position="floating">Evento</ion-label>
        <ion-input placeholder="*Evento:" type="text" [(ngModel)]="evento.titulo" #titulo="ngModel" name="titulo"
          disabled>
        </ion-input>
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-item>
        <ion-label position="floating">Data e Hora de Início
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
          [(ngModel)]="evento.periodoInicial" name="dataInicio" #dataHI="ngModel" disabled></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Data e Hora de Término
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
          [(ngModel)]="evento.periodoFinal" name="dataFinal" #dataHI="ngModel" disabled></ion-datetime>
      </ion-item>
    </ion-item>

    <ion-item>
      <b>Atividades </b>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>Nome</ion-item>
          </ion-col>
          <ion-col>
            <ion-item>Localização</ion-item>
          </ion-col>
          <ion-col>
            <ion-item>Inscrever</ion-item>
          </ion-col>
        </ion-row>

        <div *ngFor="let atividade of evento.atividades">
          <ion-row>
            <ion-col>
              <ion-item>{{atividade.titulo}}</ion-item>
            </ion-col>
            <ion-col>
              <ion-item>{{atividade.localizacao}}</ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-checkbox checked (ionChange)="desmarcaAtvidade(atividade.codAtividade)"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-item>
      <div style="display: flex; justify-content: center;">
        <ion-item>
        <ion-button type="submit">
          Finalizar Inscrição
        </ion-button>
      </ion-item>
      </div>
  </form>

</ion-content>