<ion-header>
  <ion-toolbar>
    <ion-title>Inscrever Participante</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <form #partiForm="ngForm" autocomplete="off" (ngSubmit)="gravar(partiForm)">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="participante.nome" #nome="ngModel" name="nome" required minlength="10">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" [(ngModel)]="participante.cpf" #cpf="ngModel" name="cpf" required
        [brmasker]="{person: true}" maxlength="14">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Evento</ion-label>
      <ion-input placeholder="*Evento:" type="text" [(ngModel)]="evento.titulo" #titulo="ngModel" name="titulo">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-item>
        <ion-label position="floating">Data e Hora de Início
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
          [(ngModel)]="evento.periodoInicial" name="dataInicio" #dataHI="ngModel" required></ion-datetime>
      </ion-item>
      à
      <ion-item>
        <ion-label position="floating">Data e Hora de Término
        </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
          [(ngModel)]="evento.periodoFinal" name="dataFinal" #dataHI="ngModel" required></ion-datetime>
      </ion-item>
    </ion-item>

    
      <ion-item>
        <b>Atividades </b>
      </ion-item>
    

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label >Título</ion-label></ion-col>
          <ion-col><ion-label >Local</ion-label></ion-col>
        </ion-row>

        <div *ngFor="let atividade of evento.atividades">
          <ion-row>
            <ion-col>{{atividade.titulo}}</ion-col>
            <ion-col>{{atividade.localizacao}}</ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </ion-item>
  </form>

</ion-content>