<ion-header>
  <ion-toolbar>
    <ion-title>{{ editando ? 'Edição da' : 'Nova' }} Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #atvCad="ngForm" autocomplete="off" (ngSubmit)="gravar(atvCad)">

    <ion-item>
      <ion-label position="floating">Título<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="atividade.titulo" name="titulo" #titulo="ngModel" required></ion-input>
      <div class="validaCamp" *ngIf="titulo.hasError('required') && titulo.touched">*Informe um Título da Atividade
      </div>
    </ion-item>
    <ion-item>
      
      <ion-label>Tipo de Atividade<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="atividade.codTipo"
        name="tipoAtividade" #tpAtividade="ngModel" required>
        <ion-select-option *ngFor="let t of tipoAtividade" [value]="t.codTipo">{{t.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="tpAtividade.hasError('required') && tpAtividade.touched">Selecione o tipo da
        Atividade</div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Local<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="atividade.localizacao" name="localizacao" #localizacao="ngModel" required></ion-input>
      <div class="validaCamp" *ngIf="localizacao.hasError('required') && localizacao.touched">*Informe o Local da
        Atividade</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea [(ngModel)]="atividade.descricao" name="descricao" #descricao="ngModel"></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Início<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="dataHoraInicio" name="dataHoraInicio" #dataHI="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Término<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar" [(ngModel)]="dataHoraFim"
              name="dataHoraFim" #dataHF="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <!-- <ion-label>Palestrantes<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select multiple="true" placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="atividade.palestrante" name="palestrante" #pales="ngModel" required>
        <ion-select-option *ngFor="let p of palestrante" [value]="p">{{p.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="pales.hasError('required') && pales.touched">Selecione pelo menos um
        palestrante</div> -->
        <ion-label>Palestrante(s)<ion-text color="danger">*</ion-text></ion-label>
        <ion-button (click)="mostrarPalestrante()">
          <ion-label>Adicionar Palestrante</ion-label>
        </ion-button>
    </ion-item>

    <ion-item *ngIf="palestanteAtv.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col size="4">Código Palestrante</ion-col>
          <ion-col size="6">Nome</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let p of palestanteAtv">
          <ion-row>
            <ion-col size="4">
              {{p.codPalestrante}}
            </ion-col>
            <ion-col size="6">
              {{p.nome}}
            </ion-col>
            <ion-col size-sm>
              <ion-button (click)="removerPalestrante(p.codPalestrante)" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="validaCamp" *ngIf="">Selecione pelo menos um palestrante</div>
    </ion-item>

    <div>
      <ion-item>
        <div class="validaCamp" *ngIf="atvCad.invalid">Campos com * São obrigatórios!</div>
      </ion-item>
      <ion-item>
        <ion-button type="submit" [disabled]="atvCad.invalid">Gravar</ion-button>
        <ion-button color="danger" (click)="cancelar()">Cancelar</ion-button>
      </ion-item>
    </div>
  </form>
</ion-content>