<ion-header>
  <ion-toolbar>
    <ion-title id='1'>Lista de Inscritos</ion-title>
    <ion-item slot="start" (click)="voltar()">
      <ion-icon name="arrow-back-outline" large></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto" *ngIf="inscritos.length <= 0">
    <ion-note class="texto" color="dark">Sem inscritos até o momento!</ion-note>
  </div>
  <ion-item *ngIf="inscritos.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col size='3'>Nome</ion-col>
        <ion-col size='2'>CPF</ion-col>
        <ion-col size='2'>Telefone</ion-col>
        <ion-col size='3'>E-mail</ion-col>
        <ion-col size='2'>Validar Presença</ion-col> <!-- Validar Frequência  -->
      </ion-row>
      <ion-row *ngFor="let ins of inscritos">
        <ion-col size='3'>
          {{ins.nome}}
        </ion-col>
        <ion-col size='2'>
          {{ins.cpf}}
        </ion-col>
        <ion-col size='2'>
          {{ins.telefone}}
        </ion-col>
        <ion-col size='3'>
          {{ins.email}}
        </ion-col>
        <ion-col size='2'>
          <ion-checkbox [(ngModel)]="ins.presente" type="boolean" name="validar" #presenca="ngModel"
            (ionChange)="validarFrequencia()"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div style="display: flex; justify-content: center;">
    <ion-button (click)='imprimir()'>Imprimir</ion-button>
  </div>
</ion-content>