<ion-header>
  <ion-toolbar>
    <ion-title>lista-inscritos</ion-title>
    <ion-item slot="start" (click)="voltar()">
      <ion-icon name="arrow-back-outline" large></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="texto" *ngIf="inscritos.length <= 0">
    <ion-note class="texto" color="dark">Sem Inscritos até o momento</ion-note>
  </div>
  <ion-item *ngIf="inscritos.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>Inscrito</ion-col>
        <ion-col>CPF</ion-col>
        <ion-col>RA</ion-col>
        <ion-col>Telefone</ion-col>
        <ion-col>E-mail</ion-col>
      </ion-row>
      <div *ngFor="let ins of inscritos">
        <ion-row>
          <ion-col>
            {{ins.nome}}
          </ion-col>
          <ion-col>
            {{ins.cpf}}
          </ion-col>
          <ion-col>
            {{ins.ra}}
          </ion-col>
          <ion-col>
            {{ins.telefone}}
          </ion-col>
          <ion-col>
            {{ins.email}}
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>
</ion-content>