<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Inscritos</ion-title>
    <ion-item slot="start" (click)="voltar()">
      <ion-icon name="arrow-back-outline" large></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="texto" *ngIf="inscritos.length <= 0">
    <ion-note class="texto" color="dark">Sem inscritos até o momento!</ion-note>
  </div>
  <ion-item *ngIf="inscritos.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>Nome</ion-col>
        <ion-col>CPF</ion-col>
        <ion-col>RA</ion-col>
        <ion-col>Telefone</ion-col>
        <ion-col>E-mail</ion-col>
        <ion-col>Validar Presença</ion-col> <!-- Validar Frequência  -->
      </ion-row>
      <div *ngFor="let ins of inscritos">
        <ion-row>
          <ion-col>
            {{ins.nome}}
          </ion-col>
          <ion-col>
            {{ins.cpf}}
          </ion-col>
          <ion-col>
            {{ins.ra}}
          </ion-col>
          <ion-col>
            {{ins.telefone}}
          </ion-col>
          <ion-col>
            {{ins.email}}
          </ion-col>
          <ion-list>
            <ion-item>
              <ion-checkbox [(ngModel)]="ins.presente" type="boolean" name="validar" #presenca="ngModel" (ionChange)="validarFrequencia()"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>
</ion-content>