<ion-header>
  <ion-item>
    <ion-icon size="large" slot="start" (click)="voltar()" 
    name="arrow-back-outline" style="width: 05%;"></ion-icon>
    
    <img src="./assets/img/logo.jpg" style="margin-top: 10px;margin-bottom: 10px;margin-left: 40%; width:50%;height:auto">
  </ion-item>
</ion-header>
<div style="display: flex; justify-content: center;">
  <ion-item>
    <ion-label style="font-size: medium;"><strong>{{evento.titulo}}</strong></ion-label>
  </ion-item>
</div>
<ion-content>
  <div style="display: flex; justify-content: center;">
    Validar Presença
  </div>
  <div style="display: flex; justify-content: center;">
    <zxing-scanner #scannerQr [enable]='true' style=" max-height: 55vh; width: 80vw; object-fit: contain;"
      (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
  </div>
  <ion-item>{{qrResultString}}</ion-item>
</ion-content>