<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Voluntário</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content fullscreen>
    <ion-avatar class="ion-margin-start" style="margin-left: 50%;">
      <img src="./avatar.svg">
    </ion-avatar>
    <br><br>

    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

        <ion-item>
          <ion-label position="floating">Nome:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CPF:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefone:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">R.A:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Selecione Curso</ion-label>
          <ion-select value="Sistemas de Informação">
            <ion-select-option value="cat">Sistemas de Informação</ion-select-option>
            <ion-select-option value="dog">Administração</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>
      <br><br><br>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Cadastrar</ion-button>
      </div>
    </form>
  </ion-content>