<ion-header>
  <ion-toolbar>
    <ion-title>{{editando?'Editar ': 'Cadastro de '}}Voluntário</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="voluntario-pesquisa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form autocomplete="off" #volunForm="ngForm" (ngSubmit)="gravar(volunForm)">
    <ion-item>
      <ion-label position="floating">Nome<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="voluntario.nome" #nome="ngModel" name="nome" required minlength="5"></ion-input>
      <div class="validaCamp" *ngIf="nome.hasError('required') && nome.touched">*Informe um nome válido!</div>
      <div class="validaCamp" *ngIf="nome.hasError('minlength')">*O nome precisa ser completo!</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="voluntario.email" #email="ngModel" name="email" required email></ion-input>
      <div class="validaCamp" *ngIf="email.hasError('email')">*Informe um e-mail válido!</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input [(ngModel)]="voluntario.cpf" #cpf="ngModel" name="cpf" [brmasker]="{person: true}" maxlength="14">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="voluntario.telefone" #telefone="ngModel" name="telefone" [brmasker]="{phone: true}"
        maxlength="15"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">R.A</ion-label>
      <ion-input [(ngModel)]="voluntario.ra" #ra="ngModel" name="ra" [brmasker]="{mask:'000000', type:'num'}"
        maxlength="6"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Curso</ion-label>
      <ion-input [(ngModel)]="voluntario.curso" #curso="ngModel" name="curso"></ion-input>
    </ion-item>

    <div class="validaCamp" *ngIf="volunForm.invalid">Campos com * São obrigatórios!</div>
    <br>
    <ion-button type="submit" [disabled]="volunForm.invalid">Gravar</ion-button>
  </form>
</ion-content>