<ion-content>
  <ion-item>
    <b>Selecionar Participante: </b>
  </ion-item>
  <ion-item>
    <ion-list *ngIf="participante.length > 0">
      <ion-item *ngFor="let participante of participante">
        <ion-item>
          <ion-col>
            {{participante.nome}}
          </ion-col>
        </ion-item>
        <ion-col>
          <ion-item>
            <ion-button slot="end" (click)='inscrever(participante.codParticipante)'>
              Inscrever
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>