<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisa de Palestrantes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3"> Nome</ion-col>
        <ion-col>CPF</ion-col>
        <ion-col>Telefone</ion-col>
        <ion-col size="3">E-mail</ion-col>
        <ion-col size="1.5">Opções</ion-col>
      </ion-row>
      <div *ngFor="let palestrante of palestrante">
        <ion-row>
          <ion-col size="3">
            {{palestrante.nome}}
          </ion-col>
          <ion-col>
            {{palestrante.cpf}}
          </ion-col>
          <ion-col>
            {{palestrante.telefone}}
          </ion-col>
          <ion-col size="3">
            {{palestrante.email}}
          </ion-col>
          <ion-col size="1.5">
            <ion-button (click)='excluir(palestrante.codPalestrante)'>
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            <ion-button (click)='editarCadastro(palestrante.codPalestrante)'>
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='adicionar()'>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>