<ion-header>
  <ion-toolbar>
    <ion-title>Cancelar Evento</ion-title>
    <ion-buttons (click)="close()" slot="start">
      <ion-back-button defaultHref="evento-pesquisa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #cancEven="ngForm" autocomplete="off" (ngSubmit)="cancelar(codEvento)">

    <ion-item value="Disabled" disabled>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="evento.titulo" name="titulo" #titulo="ngModel" required></ion-input>
    </ion-item>

    <ion-item value="Disabled" disabled>
      <ion-label>Área</ion-label>
      <ion-select placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="evento.codArea"
        name="area" #areaE="ngModel" required>
        <ion-select-option *ngFor="let a of area" [value]="a">{{a.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Data e Hora de Início do Evento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.periodoInicial" name="periodoInicial" #periodoIni="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Data e Hora de Término do Evento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.periodoFinal" name="periodoFinal" #periodoFim="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Data e Hora de Início para Inscrição</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.inscricaoInicio" name="inscricaoInicio" #inscIni="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Data e Hora de Término para Inscrição</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.inscricaoFim" name="inscricaofim" #inscFim="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Quantidade Mínima de Inscritos</ion-label>
            <ion-input type="number" [(ngModel)]="evento.qtdMinInscrito" name="qtdMinInscrito" #qtdMinIns="ngModel"
              required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item value="Disabled" disabled>
            <ion-label position="floating">Quantidade Máxina de Inscritos</ion-label>
            <ion-input type="number" [(ngModel)]="evento.qtdMaxInscrito" name="qtdMaxInscrito" #qtdMaxIns="ngModel"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item value="Disabled" disabled>
      <ion-label>Voluntário(s)</ion-label>
      <ion-select multiple="true" placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="evento.voluntario" name="voluntario" #volun="ngModel" required>
        <ion-select-option *ngFor="let v of voluntario" [value]="v">{{v.nome}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item value="Disabled" disabled>
      <ion-label>Atividade(s)</ion-label>
      <ion-button (click)="novaAtividade()">Adicionar</ion-button>
    </ion-item>

    <ion-item value="Disabled" disabled>
      <ion-grid>
        <ion-row>
          <ion-col> Título</ion-col>
          <ion-col>Tipo</ion-col>
          <ion-col>Data Início</ion-col>
          <ion-col>Data Final</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let atv of atividades">
          <ion-row>
            <ion-col>
              {{atv.titulo}}
            </ion-col>
            <ion-col>
              {{atv.nomeTipo}}
            </ion-col>
            <ion-col>
              {{atv.dataInicio|date:"dd/MM/yyyy H:mm"}}
            </ion-col>
            <ion-col>
              {{atv.dataFim|date:"dd/MM/yyyy H:mm"}}
            </ion-col>
            <ion-col size="1" size-sm>
              <ion-button (click)="excluiAtividade(atv.codAtividade)" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="alterar(atv.codAtividade)">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Motivo:<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-textarea [(ngModel)]="evento.motivo" name="motivo" #motivo="ngModel" required rows="6" cols="20"
        placeholder="Digite aqui o motivo para o cancelamento deste evento..."></ion-textarea>
      <div class="validaCamp" *ngIf="motivo.hasError('required') && motivo.touched">*Informe o motivo do cancelamento!
      </div>
    </ion-item>

    <div>
      <ion-item>
        <div class="validaCamp" *ngIf="cancEven.invalid">Campos com * São obrigatórios</div>
      </ion-item>
      <ion-item>
        <ion-button type="submit" [disabled]="cancEven.invalid" color="danger">cancelar evento</ion-button>
      </ion-item>
    </div>
  </form>
</ion-content>