
<ion-menu side="start" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
      <ion-button (click)='eventos()'> <ion-icon name="calendar"></ion-icon> Gestão de Eventos</ion-button>
      <ion-button (click)='usuarios()'> <ion-icon name="person-add"></ion-icon> Gestão de Usuários</ion-button>
      <ion-button (click)='palestrantes()'> <ion-icon name="star"></ion-icon> Gestão de Palestrantes</ion-button>
      <ion-button (click)='voluntarios()'> <ion-icon name="people"></ion-icon> Gestão de Voluntários</ion-button>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<!--
<ion-split-pane >
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
          {{ p.titulo }}
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main ></ion-router-outlet>

</ion-split-pane>
-->