<ion-header>
  <ion-toolbar>
    <ion-title>{{editando?'Editar ': 'Cadastro de '}}Evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="evento-pesquisa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #atvCad="ngForm" autocomplete="off" (ngSubmit)="gravar(atvCad)">

    <ion-item>
      <ion-label position="floating">Título<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="evento.titulo" name="titulo" #titulo="ngModel" required></ion-input>
      <div class="validaCamp" *ngIf="titulo.hasError('required') && titulo.touched">*Informe um Título para o Evento
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Área<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar" [(ngModel)]="evento.codArea"
        name="area" #areaE="ngModel" required>
        <ion-select-option *ngFor="let a of area" [value]="a">{{a.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="areaE.hasError('required') && areaE.touched">Selecione a Área do Evento</div>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Início do Evento<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.periodoInicial" name="periodoInicial" #periodoIni="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Término do Evento<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.periodoFinal" name="periodoFinal" #periodoFim="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Início para Inscrição<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.inscricaoInicio" name="inscricaoInicio" #inscIni="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Término para Inscrição<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="evento.inscricaoFim" name="inscricaofim" #inscFim="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Quantidade Mínima de Inscritos<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" [(ngModel)]="evento.qtdMinInscrito" name="qtdMinInscrito" #qtdMinIns="ngModel"
              required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Quantidade Máxina de Inscritos<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="number" [(ngModel)]="evento.qtdMaxInscrito" name="qtdMaxInscrito" #qtdMaxIns="ngModel"
              required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-label>Voluntário(s)<ion-text color="danger">*</ion-text>
      </ion-label>
      <!-- <ion-select multiple="true" placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="evento.voluntario" name="voluntario" #volun="ngModel" required>
        <ion-select-option *ngFor="let v of voluntario" [value]="v">{{v.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="volun.hasError('required') && volun.touched">Selecione pelo menos um
        voluntário</div> -->
      <ion-button (click)="mostrarVoluntario()">
        <ion-label>Adicionar Voluntário</ion-label>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="voluntarioEvento.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col size="4">Código do Voluntário</ion-col>
          <ion-col size="6">Nome</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let v of voluntarioEvento">
          <ion-row>
            <ion-col size="4">
              {{v.codVoluntario}}
            </ion-col>
            <ion-col size="6">
              {{v.nome}}
            </ion-col>
            <ion-col size-sm>
              <ion-button (click)="removerVoluntarios(v.codVoluntario)" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="validaCamp" *ngIf="">Selecione pelo menos um Voluntário</div>
    </ion-item>

    <ion-item>
      <ion-label>Atividade(s)</ion-label>
      <ion-button (click)="novaAtividade()">Adicionar Atividade</ion-button>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Título</ion-col>
          <ion-col>Tipo</ion-col>
          <ion-col>Data Início</ion-col>
          <ion-col>Data Fim</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let atv of atividades">
          <ion-row>
            <ion-col>
              {{atv.titulo}}
            </ion-col>
            <ion-col>
              {{atv.nomeTipo}}
            </ion-col>
            <ion-col>
              {{atv.dataInicio|date:"dd/MM/yyyy H:mm"}}
            </ion-col>
            <ion-col>
              {{atv.dataFim|date:"dd/MM/yyyy H:mm"}}
            </ion-col>
            <ion-col size="1" size-sm>
              <ion-button (click)="excluiAtividade(atv.codAtividade)" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="alterar(atv.codAtividade)">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-item>

    <div>
      <ion-item>
        <div class="validaCamp" *ngIf="atvCad.invalid">Campos com * São obrigatórios</div>
      </ion-item>
      <ion-item>
        <ion-button type="submit" [disabled]="atvCad.invalid">Gravar</ion-button>
      </ion-item>
    </div>
  </form>
</ion-content>