<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #atvCad="ngForm" autocomplete="off" (ngSubmit)="gravar(atvCad)">

    <ion-item>
      <ion-label position="floating">Nome<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="evento.nome" name="nome" #nome="ngModel" required></ion-input>
      <div class="validaCamp" *ngIf="nome.hasError('required') && nome.touched">*Informe o nome do Evento
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Local<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="evento.local" name="local" #local="ngModel" required></ion-input>
      <div class="validaCamp" *ngIf="local.hasError('required') && local.touched">*Informe o local do Evento
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Área<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select multiple="true" placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="evento.area" name="area" #pales="ngModel" required>
        <ion-select-option *ngFor="let p of area" [value]="p">{{p.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="pales.hasError('required') && pales.touched">Selecione pelo menos um
        voluntario</div>
    </ion-item>

    <ion-item>
      <ion-label>Voluntário<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-select multiple="true" placeholder="Selecione..." ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="evento.voluntario" name="voluntario" #pales="ngModel" required>
        <ion-select-option *ngFor="let p of voluntario" [value]="p">{{p.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="pales.hasError('required') && pales.touched">Selecione pelo menos um
        voluntario</div>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Inicio da Inscrição<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="inscricaoInicio" name="inscricaoInicio" #dataHI="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Termino da Inscrição<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar" [(ngModel)]="inscricaofim"
              name="inscricaofim" #dataHF="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Inicio<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar"
              [(ngModel)]="dataHoraInicio" name="dataHoraInicio" #dataHI="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Data e Hora de Termino<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" doneText="OK" cancelText="Cancelar" [(ngModel)]="dataHoraFim"
              name="dataHoraFim" #dataHF="ngModel" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-item>
        <div class="validaCamp" *ngIf="atvCad.invalid">Campos com * São obrigatórios</div>
      </ion-item>
      <ion-item>
        <ion-button type="submit" [disabled]="atvCad.invalid">Gravar</ion-button>
      </ion-item>
    </div>
  </form>
</ion-content>