<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisa de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-label> Buscar Usuário:</ion-label>
      <ion-input placeholder="Ex: Carlos Zorzo"></ion-input>
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
        Buscar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col> Nome</ion-col>
          <ion-col class="ion-align-self-start">CPF</ion-col>
          <ion-col class="ion-align-self-start">Telefone</ion-col>
          <ion-col class="ion-align-self-start">E-mail</ion-col>
          <ion-col size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let usuario of usuarios">
          <ion-radio-group>
            <ion-row>
              <ion-col>
                {{usuario.nome}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{usuario.cpf}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{usuario.telefone}}
              </ion-col>
              <ion-col class="ion-align-self-start">
                {{usuario.email}}
              </ion-col>
              <ion-col size="1" size-sm>
                <ion-button>
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="alterar()">
                  <ion-icon name="pencil-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-radio-group>
        </div>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="inserir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>