<ion-header>
  <ion-toolbar>
    <ion-title>Novo Palestrante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form autocomplete="off" #palesForm="ngForm" (ngSubmit)="gravar(palesForm)">
    <ion-item>
      <ion-input placeholder="*Nome:" type="text" [(ngModel)]="palestrante.nome" #nome="ngModel" name="nome" required
        minlength="10"></ion-input>
      <div class="validaCamp" *ngIf="nome.hasError('required') && nome.touched">*Informe um nome válido</div>
      <div class="validaCamp" *ngIf="nome.hasError('minlength')">*O nome precisa ser completo</div>
    </ion-item>
    <ion-item>
      <ion-input placeholder="*E-mail:" type="email" [(ngModel)]="palestrante.email" #email="ngModel" name="email"
        required email></ion-input>
      <div class="validaCamp" *ngIf="email.hasError('email')">*Informe um e-mail valido</div>
    </ion-item>
    <ion-item>
      <ion-input placeholder="CPF:" type="text" [(ngModel)]="palestrante.cpf" #cpf="ngModel" name="cpf"
        [brmasker]="{person: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Telefone:" type="text" [(ngModel)]="palestrante.telefone" #telefone="ngModel"
        name="telefone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>*Área</ion-label>
      <ion-select multiple="true" placeholder="Selecione" ok-text="Ok" cancel-text="Cancelar"
        [(ngModel)]="palestrante.area"  name="area" required>
        <ion-select-option *ngFor=" let area of area" [value]="area">{{area}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="">Selecione pelo menos uma Área</div>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" placeholder="Bibliografia:" [(ngModel)]="palestrante.informacoes" #informacoes="ngModel"
        name="informacoes"></ion-textarea>
    </ion-item>


    <div class="validaCamp" *ngIf="palesForm.invalid">Campos com * São obrigatórios</div>
    <br>
    <ion-button type="submit" [disabled]="palesForm.invalid">Gravar</ion-button>
  </form>
</ion-content>