<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Palestrante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="CPF"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Área de Atuação</ion-label>
    <ion-select placeholder="Selecione">
      <ion-select-option value="T">teste</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Informação"></ion-input>
  </ion-item>

  <ion-button color="primary">Cadastrar</ion-button>

</ion-content>