<ion-header>
  <ion-toolbar>
    <ion-title>{{ editando ? 'Editar' : 'Novo' }} Palestrante</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="palestrante-pesquisa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form autocomplete="off" #palesForm="ngForm" (ngSubmit)="gravar(palesForm)">

    <ion-item>
      <ion-label position="floating">Nome<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="palestrante.nome" #nome="ngModel" name="nome" required
      minlength="5"></ion-input>
      <div class="validaCamp" *ngIf="nome.hasError('required') && nome.touched">*Informe um nome válido!</div>
      <div class="validaCamp" *ngIf="nome.hasError('minlength')">*O nome precisa ser completo!</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="palestrante.email" #email="ngModel" name="email"
      required email></ion-input>
      <div class="validaCamp" *ngIf="email.hasError('email')">*Informe um e-mail válido!</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input [(ngModel)]="palestrante.cpf" maxlength=14 #cpf="ngModel" name="cpf"
      [brmasker]="{person: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="palestrante.telefone" #telefone="ngModel"
      name="telefone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Área(s) de Atuação</ion-label>
      <ion-button (click)="mostrarAreas()">
        Adicionar Área
      </ion-button>
    </ion-item>

    <!-- <ion-item>
      <ion-label>*Área</ion-label>
      <ion-select [(ngModel)]="palestrante.area" name="area" placeholder="Selecione..." multiple="true" ok-text="Ok"
        cancel-text="Cancelar" [compareWith]="categoriasSelect" required>
        <ion-select-option *ngFor="let a of area" [value]="a">{{a.nome}}</ion-select-option>
      </ion-select>
      <div class="validaCamp" *ngIf="">Selecione pelo menos uma Área</div>
    </ion-item> -->
    <ion-item *ngIf="areaPalestrante.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col>Código da Área</ion-col>
          <ion-col>Nome</ion-col>
          <ion-col size="1" size-sm>Opções</ion-col>
        </ion-row>
        <div *ngFor="let area of areaPalestrante">
          <ion-row>
            <ion-col>
              {{area.codArea}}
            </ion-col>
            <ion-col>
              {{area.nome}}
            </ion-col>
            <ion-col size="1" size-sm>
              <ion-button (click)="removerArea(area.codArea)" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      <div class="validaCamp" *ngIf="">Selecione pelo menos uma Área</div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Currículo</ion-label>
      <ion-textarea [(ngModel)]="palestrante.biografia" #informacoes="ngModel" name="biografia"></ion-textarea>
    </ion-item>

    <div class="validaCamp" *ngIf="palesForm.invalid">Campos com * São obrigatórios</div>
    <br>
    <ion-button type="submit" [disabled]="palesForm.invalid && areaPalestrante.length <= 0">Gravar</ion-button>
  </form>
</ion-content>